@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative overflow-x-hidden font-body text-base;
  }
}

.container_fluid {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 2xl:px-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

.nav_link {
  @apply font-inter text-lg xl:text-xl;
}

.bg-hero-home {
  background-image: url("/hero-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  background-color: #28a69f;
  @apply h-full w-full;
}
.ads-banner {
  background-image: url("/app-ads-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  @apply h-full min-h-[440px] w-full bg-secondary;
}

.bg-categories-hover:hover,
.bg-categories-hover:focus {
  @apply cursor-pointer bg-primary-gradient transition-all duration-500 ease-in-out;
}
