@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative overflow-x-hidden font-body text-base;
  }
}

.container_fluid {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 2xl:px-0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

.nav_link {
  @apply font-inter text-lg xl:text-xl;
}

.bg-hero-home {
  background-image: url("/hero-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  background-color: #28a69f;
  @apply h-full w-full;
}
.ads-banner {
  background-image: url("/app-ads-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
  @apply h-full min-h-[440px] w-full bg-secondary;
}
.how-works-bg {
  background-image: url("/how-works-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @apply h-full w-full bg-secondary lg:h-[1328px];
}

.bg-categories-hover:hover,
.bg-categories-hover:focus {
  @apply cursor-pointer bg-primary-gradient transition-all duration-500 ease-in-out;
}

/* swiper */
.mySwiper .swiper-slide {
  transition: transform 0.5s ease;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.3); /* Scale up active slide */
  z-index: 10;
}

.mySwiper .swiper-slide-next,
.mySwiper .swiper-slide-prev {
  transform: scale(0.8); /* Slightly smaller for next/prev slides */
}

.mySwiper .swiper-slide:nth-child(n + 4),
.mySwiper .swiper-slide:nth-last-child(n + 4) {
  transform: scale(0.5); /* Smallest for far slides */
}
.swiper-slide-shadow-coverflow {
  border-radius: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  @apply !hidden;
}

.left3 {
  transform: translate3d(-125.033px, 0px, -310.118px) rotateX(0deg)
    rotateY(0deg) scale(0.9) !important;
}
.right3 {
  transform: translate3d(124.967px, 0px, -310.882px) rotateX(0deg) rotateY(0deg)
    scale(0.9) !important;
}
